@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato:wght@300&family=Poppins:ital,wght@0,200;0,300;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
.cow {
  background-image: url("Image/cow.jpg");
  background-size: cover;
  background-position:bottom center;
  height: 100vh;
  /* clip-path: polygon(0 1%, 100% 0, 100% 100%, 50% 87%, 0 100%); */
}
.cow h1 {
  font-size: 100px;
  text-align: center;
 font-weight: 300px;
  color: rgb(255, 255, 255);
  padding-top: 60px;
  font-family: cursive;
  word-spacing: 15px;
  letter-spacing: 7px;

}
.composition  {

border: 7px solid rgb(222, 168, 3);
    
  width: 60%;
  margin: 60px auto;
  background-color: rgb(241, 247, 247);
  padding: 30px;
  
}
.composition h2, .cow_type h1 {
  text-align:center ;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 30px;
  margin-bottom: 60;
  border-bottom: 3px solid red;
  width: 60%;
  margin: auto;
  
   
}
.composition p{
    font-size: 16px;
    text-align: justify;
    line-height: 2rem;
}
.cow_image{
  padding: 50px;
  display: flex;
  flex-direction:row;
  gap: 20px;
  justify-content: center;
 
  
}
.cow_image div{
width: 300px;
}
.cow_image img{
  /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
  border-radius: 5px;
  width: 100%;
  
}
